.header {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    min-height: 60px;
    background-image: linear-gradient(to bottom, black, black);
    flex-wrap: nowrap;
    position: fixed; 
    width: 100%;
    height: auto;
    z-index: 100;
  }

  .website-title {
    color:#FF9343;
    font-weight: 700;
    font-size: 36px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  
  .header-contents {
    display: flex;
    justify-content: flex-end; 
    width: 100%; 
  }

  .navigation-bar-item {
    display: flex;
    align-items: center;
    color: white;
    opacity: 100%;
    font-size: 1.2rem;
    position:relative;
    padding: .5rem;

  }

  .navigation-bar-link-item:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.25s ease-out;
    transform: translateX(-50%);
  }

  .navigation-bar-link-item:hover:before {
    width: 100%;
    left: 0;
    transform: translateX(0%);
    color: white;
  }

